* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #ccc;
}

#container {
    width: 500px;
    height: 500px;
    padding: 25px;
    margin: 100px auto;
}

.social-container {
    width: 500px;
    height: 100px;
    background-image: url("fb.png");
    background-size: 500px 100px;
    position: relative;
}

.social-switch {
    width: 98px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 20px;
    background-image: url("switch.png");
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #333;
    background-position-x: -52px;
}